<div   class="container mt-3 w-25">
    <h1>
        Sign Up
    </h1>

    <form  [formGroup]="registrationForm" >

        <div >
          <strong>Username:</strong>
          <input type="text" class="form-control" formControlName="username" required>
        </div>
        <div >
          <strong>Password:</strong>
          <input type="password" class="form-control" formControlName="password"  required>
        </div>

        <div  >
          <strong>Role:</strong>
          <select class="custom-select"  formControlName="roleSelect">
              <option value="" disabled>Choose Role</option>
              <option value="0" >Doctor</option>
              <option value="1" >Caregiver</option>
              <option value="2" >Patient</option>
           </select>
          <!-- <input type="" class="form-control" name="sideEffects" [(ngModel)]="drugToInsert.sideEffects"> -->
        </div>

        <div  >
            <strong>First Name:</strong>
            <input type="text" class="form-control" formControlName="firstName">
          </div>

          <div  >
              <strong>Last Name:</strong>
              <input type="text" class="form-control" formControlName="lastName">
            </div>

            <div  >
                <strong>Date Of Birth:</strong>
                <input type="date" class="form-control" formControlName="dateOfBirth">
              </div>

              <div  >
                  <strong>Gender:</strong>
                  <select class="custom-select"  formControlName="genderSelect">
                      <option value="" disabled>Choose Role</option>
                      <option value="0" >Female</option>
                      <option value="1" >Male</option>
                   </select>
                  <!-- <input type="text" class="form-control" name="" [(ngModel)]=".sideEffects"> -->
                </div>

                <div  >
                    <strong>Address:</strong>
                    <input type="text" class="form-control" formControlName="address" >
                  </div>

      <div class="p-2">
          <button   class="btn btn-success btn-block" (click)='register()'>Register</button>
          <button  class="btn btn-light btn-block" [routerLink]="['/login']">Cancel</button>
      </div>
    </form>



      </div>
