
 <button class="btn btn-success w-20" [routerLink]="['/drug/insert']">Add new Drug</button>
<table class="table table-striped">
  <thead>
    <tr>
    <th>Name</th>
    <th>Dosage</th>
    <th>Side Effects</th>
    </tr>
  </thead>
  <tbody>
<ng-container *ngFor="let drug of drugs">
  <tr>
  <td>{{ drug.name }}</td>
   <td>{{drug.dosage}}</td>
   <td>{{drug.sideEffects}}</td>
   <button id="edit" [routerLink]="['/drug/', drug.id]" class="btn btn-info fa fa-pencil"></button>
   <button id="remove" (click)="deleteRow(drug)" class="btn btn-danger fa fa-trash"></button>
  </tr>
</ng-container>

</tbody>
</table>
