<div   class="container mt-3 w-25">
  <h1>
     Add Medication Plan
  </h1>

  <form  [formGroup]="registrationForm" >

      <div >
        <!-- <strong>Drugs:</strong>
        <select multiple class="ui fluid dropdown" formControlName="drugsControl">
          <option *ngFor="let drug of drugs" [ngValue]="drug.id">{{drug.name}}</option>
      </select> -->
      <div  >
        <strong>Drugs:</strong>
        <select class="custom-select"  formControlName="drugsControl">
          <option *ngFor="let drug of drugs" [ngValue]="drug.id">{{drug.name}}</option>
         </select>
        <!-- <input type="" class="form-control" name="sideEffects" [(ngModel)]="drugToInsert.sideEffects"> -->
      </div>
      </div>
      <div >
        <strong>IntakeCount:</strong>
        <input type="text" class="form-control" formControlName="intakeCount"  required>
      </div>

      <div  >
          <strong>Intake Interval:</strong>
          <input type="text" class="form-control" formControlName="intakeInterval">
        </div>

        <div  >
            <strong>Start Hour:</strong>
            <input type="time" class="form-control" formControlName="startHour">
          </div>

          <div  >
              <strong>Start Date:</strong>
              <input type="date" class="form-control" formControlName="startDate">
            </div>

              <div  >
                  <strong>End Date:</strong>
                  <input type="date" class="form-control" formControlName="endDate" >
                </div>

    <div class="p-2">
        <button   class="btn btn-success btn-block" (click)='insertMedPlan()'>Add Medication Plan</button>
        <button  class="btn btn-light btn-block" [routerLink]="['/login']">Cancel</button>
    </div>
  </form>



    </div>
