<div class="container mt-3 w-25">
    <h1>
      Edit Patient
    </h1>

    <form #editForm="ngForm" id="editForm">

      <div>
        <strong>First Name:</strong>
        <input type="text" class="form-control" name="firstName" [(ngModel)]="patient.firstName">
      </div>
      <div>
        <strong>Last Name:</strong>
        <input type="text" class="form-control" name="lastName" [(ngModel)]="patient.lastName">
      </div>
      <div>
        <strong>Date Of Birth:</strong>
        <input type="text" class="form-control" disabled=true name="dateOfBirth" [(ngModel)]="patient.dateOfBirth">
      </div>

      <div>
        <strong>Gender:</strong>
        <input type="text" class="form-control" disabled=true name="gender" [(ngModel)]="patient.gender">
      </div>

      <div>
        <strong> Address:</strong>
        <input type="text" class="form-control" name="address" [(ngModel)]="patient.address">
      </div>

      <div>
          <strong> Medical Record:</strong>
          <input type="text" class="form-control" name="medRecord" [(ngModel)]="patient.medicalRecord">
        </div>

      <div class="p-2">
        <button form="editForm" class="btn btn-success btn-block" (click)='updatePatient()'>Save Changes</button>
        <button form="editForm" class="btn btn-light btn-block" [routerLink]="['/patient']">Cancel</button>
      </div>
    </form>

  </div>
